<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<header th:replace="~{fragments/base :: head}"></header>
	<style>
		td,
		th {
			text-align: center;
		}

		a {
			text-decoration: none;
		}

		.card-style {
			padding: 0 5% 5% 5%;
		}

		.card {
			padding: 0%;
			width: 302px;
			margin: 15px 0px;
		}

		.main_detail {
			width: 270px;
			height: 140px;
			/* 최대 높이 설정 */
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			/* 줄바꿈 허용 */
		}
	</style>
	<script th:inline="javascript">
		function search() {
			const field = $('#field').val();
			const query = $('#query').val();
			const uri = '/mid/boardf/list?p=' + [[${session.currentBoardPage}]] + '&f=' + field + '&q=' + query;
			location.href = encodeURI(uri);
		}
	</script>
</head>

<body style="margin-top: 120px;">
	<div th:insert="~{fragments/base :: top}"></div>


	<!-- 슬라이드 -->
	<div id="demo" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
		</div>
	
		<div class="carousel-inner">
			<div class="carousel-item active">
				<!-- 주소, 이미지는 상황에 맞게 바꾸기 -->
				<a href="#">

					<img src="/mid/file/download/image/slide1.png" class="d-block mx-auto"
						style="max-width: 100%; height: 350px; ">
				</a>
			</div>

			<div class="carousel-item">
				<a href="#">
					<img src="/mid/file/download/image/slide2.png" class="d-block mx-auto"
						style="max-width: 100%; height: 350px; ">
				</a>
			</div>

			<div class="carousel-item">
				<a href="#">
					<img src="/mid/file/download/image/slide3.png" class="d-block mx-auto"
						style="max-width: 100%; height: 350px; ">
				</a>
			</div>
		</div>

		<!-- Left and right controls/icons --> <!-- 투명도 넣어보기 -->
		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev"
			style=" height: 349px; margin-top: 47px;">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next"
			style=" height: 349px; margin-top: 47px;">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>
	<!-- 슬라이드 -->
	<!-- 맛집목록 -->
	<div class="album py-5">

		<div class="container">
			<!-- Outer loop for rows -->
			<div class="row" th:each="rowIdx, rowIdxStat: ${#numbers.sequence(0, boardCount * 3, 3)}">
				<div class="d-flex flex-row">
					<div class="col" th:each="colIdx : ${#numbers.sequence(0, 2)}"
						th:if="${rowIdx + colIdx < boardfList.size()}">
						<!-- Accessing the item at the current index -->
						<div class="card shadow-sm " th:with="selectedBoardf=${boardfList[rowIdx + colIdx]}">
							<!-- Card content -->
							<a style="text-decoration: none;"
								th:href="@{'/boardf/detail/' + ${selectedBoardf.fid} + '/' + ${selectedBoardf.uid}}">
								<a style="text-decoration: none;"
									th:href="@{'/boardf/detail/' + ${selectedBoardf.fid} + '/' + ${selectedBoardf.uid}}">
									<div class="col-12 img-style" alt="이미지 설명" max-width="300px">
										<img alt"" th:src="${selectedBoardf.foodImg}"
											style="width:300px; height: 300px;">
									</div>
									<div class="card-body card-style">
										<p class="card-text"></p>
										<div class="d-flex justify-content-between">
											<span class="text-body-secondary" th:text="${selectedBoardf.title}"
												style="font-weight: bolder; font-size: x-large;"></span>
											<div>
												<i class="fa-solid fa-heart"
													style="color: coral; margin-right: 3px;"></i>
												<span class="text-body-secondary" th:text="${selectedBoardf.likeCount}"
													style="font-weight: bolder; font-size: x-large;"></span>
											</div>
										</div>
										<div class="main_detail"
											style="max-height: 100px; overflow: hidden; text-overflow: ellipsis;">
											<small class="text-body-secondary" th:text="${selectedBoardf.info}"></small>
										</div>
									</div>
								</a>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>

	</div>

	</div>

	<!-- 맛집목록 -->


	<footer th:replace="~{fragments/base :: bottom}"></footer>
</body>

</html>